{% extends 'layout/base.html' %} 
{% block titulo %} 
Comprobante de Renta 
{% endblock %} 
{% block contenido %} 
<div class="card shadow"> 
    <div class="card-header bg-primary text-white"> 
        <h3> 
            Comprobante de Renta 
        </h3> 
    </div> 
    <div class="card-body"> 
        <div class="row"> 
            <!-- DATOS DEL CLIENTE --> 
            <div class="col-md-6"> 
                <h5>Datos del Cliente</h5> 
                <table class="table table-bordered"> 
                    <tr> 
                        <th>Cédula</th> 
                        <td>{{ comprobante[0] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Nombre</th> 
                        <td>{{ comprobante[1] }} {{ comprobante[2] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Teléfono</th> 
                        <td>{{ comprobante[3] }}</td> 
                    </tr> 
                </table> 
            </div> 
 
            <!-- DATOS DEL VEHÍCULO --> 
            <div class="col-md-6"> 
                <h5>Datos del Vehículo</h5> 
                <table class="table table-bordered"> 
                    <tr> 
                        <th>Marca</th> 
                        <td>{{ comprobante[4] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Modelo</th> 
                        <td>{{ comprobante[5] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Año</th> 
                        <td>{{ comprobante[6] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Placa</th> 
                        <td>{{ comprobante[7] }}</td> 
                    </tr> 
                    <tr> 
                        <th>Precio</th> 
                        <td>$ {{ comprobante[8] }}</td> 
                    </tr> 
                </table> 
            </div> 
        </div> 
        <hr> 
 
        <div class="row"> 
            <div class="col-md-6"> 
                <h5>Fotografía del Vehículo</h5> 
                <img src="{{ url_for('static', filename='subidos/vehiculos/' ~ comprobante[9]) }}" 
                    class="img-fluid rounded shadow"> 
            </div> 
            <div class="col-md-6"> 
                <h5>Copia de Cédula</h5> 
                <img src="{{ url_for('static', filename='subidos/cedulas/' ~ comprobante[12]) }}" 
                    class="img-fluid rounded shadow"> 
            </div> 
        </div> 
        <hr> 
        <table class="table table-bordered"> 
            <tr> 
                <th>Fecha de Renta</th> 
                <td>{{ comprobante[10] }}</td> 
 
            </tr> 
            <tr> 
                <th>Pagado</th> 
                <td> 
                    {% if comprobante[11] == "Si" %} 
                    <span class="badge bg-success">Sí</span> 
                    {% else %} 
                    <span class="badge bg-danger">No</span> 
                    {% endif %} 
                </td> 
            </tr> 
        </table> 
        <a href="{{ url_for('administrador.vehiculos_rentados') }}" class="btn btn-secondary">Regresar</a> 
    </div> 
</div> 
{% endblock %}